<div class="column" [attr.data-column-title]="column.title">
  <div class="title">
    {{ column.title }}
    <div class="tools">
      <span class="add-card-button" (click)="addCard()">
        <i class="fa fa-plus"></i>
      </span>
      <span
        class="add-card-button"
        (click)="handleRemoveColumn()"
        [style.color]="'#FD5739'"
      >
        <i class="fa fa-trash"></i>
      </span>
    </div>
  </div>
  <div class="cards">
    <kanban-card
      (columnChange)="handleChangeColumn($event)"
      (removeCard)="handleRemoveCard($event)"
      (updateCard)="handleUpdateCard($event)"
      *ngFor="let card of column.cards"
      [card]="card"
    ></kanban-card>
  </div>
</div>
