<div class="create-card-modal" (click)="handleCloseModal()">
  <div class="main-modal" (click)="preventPropagation($event)">
    <p class="title">Create new card</p>
    <div class="input-group">
      <label for="title">Card title</label>
      <input type="text" id="title" [(ngModel)]="cardTitle" />
    </div>
    <div class="input-group">
      <label for="description">Card description</label>
      <textarea
        name="description"
        id="description"
        [(ngModel)]="cardDescription"
      ></textarea>
    </div>
    <button (click)="createCard()">Create card</button>
  </div>
</div>
