<div class="board">
  <div class="tools">
    <div class="tool-group">
      <input type="text" [style.width]="'275px'" [(ngModel)]="newColumnTitle" />
      <button (click)="handleCreateColumn()">New column</button>
    </div>
  </div>
  <div class="columns">
    <kanban-column
      *ngFor="let column of columns"
      (createCard)="handleOpenAddCard($event)"
      (cardChangeColumn)="handleCardChangeColumn($event)"
      (updateCard)="handleUpdateCard($event)"
      (removeCard)="handleRemoveCard($event)"
      (removeColumn)="handleRemoveColumn($event)"
      [column]="column"
    ></kanban-column>
  </div>
  <create-card-modal
    *ngIf="showCreateModal"
    (closeModal)="handleCloseModal('create')"
    (finish)="handleAddCard($event)"
  ></create-card-modal>
  <update-card-modal
    *ngIf="showUpdateModal"
    [defaultCard]="selectedCard"
    (closeModal)="handleCloseModal('update')"
    (finish)="handleFinishUpdateCard($event)"
  ></update-card-modal>
</div>
<router-outlet></router-outlet>
